img {
    width: 450px;
    height: 302px;
    border: black solid;
    border-radius: 10px;
    margin-left: 6px;
    border-width: 2px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

body {
    background-color: #778899;
}